{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<h2>
    Add a Exercise
</h2>
<form action="/add" method="post">
    <input placeholder="Exercise Name" name="name_store" type="text" autocomplete="off">
    <input placeholder="Muscle Worked" name="muscle_store" type="text" autocomplete="off">
    <input placeholder="Equipment Used" name="equip_store" type="text" autocomplete="off">
    <button type="submit">Store Exercise</button>
</form>
{% endblock %}
