{% extends "layout.html" %}

{% block title %}
    Create Exercise
{% endblock %}

{% block main %}
<div class="center_div">
    <h3 class="center_div">
        Create Exercise
    </h3>
    <form action="/add_exercise" method="post" class="log_reg">
        <input placeholder="Exercise Name" name="name_store" type="text" autocomplete="off">
        <!-- input placeholder="Muscle Worked" name="muscle_store" type="text" autocomplete="off" -->
        <input placeholder="Muscle Worked" name="muscle_store" type="text" autocomplete="off" list="muscle-list">
            <datalist id="muscle-list">
                {% for i in all_muscles %}
                <option value="{{i.muscle}}">
                {% endfor %}
            </datalist>
        <input placeholder="Equipment Used" name="equip_store" type="text" autocomplete="off" list="equipment-list">
            <datalist id="equipment-list">
                {% for i in all_equipment %}
                <option value="{{i.equipment}}">
                {% endfor %}
            </datalist>
        <button type="submit">Store Exercise</button>
    </form>
</div>
{% endblock %}
