{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}

  
<div class="container_brvp">
  <div class="search_input sticky">
    <h2>Search Exercises</h2>
      <form action="/browse" class="form_pad">
          <input type="text" name="exercise_name" placeholder="Exercise name" class="wide-select">
          <input type="submit" value="Search">
      </form>
      <form action="/browse" class="form_pad">
          <select name="exercises" class="wide-select">
          <option style="display:none;" value="0">Muscle</option>
          {% for i in muscle%}
              <option value="{{i['muscle']}}">{{i['muscle']}}</option>
          {% endfor %}
          </select>
          <input type="submit" value="Search">
      </form>
      <form action="/browse" class="form_pad">
          <select name="equipments" class="wide-select">
              <option style="display:none;" value="0">Equipment</option>
          {% for i in equipment%}
              <option value="{{i['equipment']}}">{{i['equipment']}}</option>
          {% endfor %}
          </select>
          <input type="submit" value="Search">
      </form>
    </div>
  <table class="search_results" hidden="false" id="hiddenField">
    <thead>
      <th>Exercise</th>
      <th>Muscle</th>
      <th>Equipment</th>
      <th>Remove</th>
    </thead>
    <tbody>
      {% for i in category_to_display%}
        <tr>
            <td>{{i['exercise']}}</td>
            <td>{{i['muscle']}}</td>
            <td>{{i['equipment']}}</td>
            <!-- allow user to delete exercise from workout -->
            <!-- obtain unique id for row that contains the exercise -->
            <td>
                <form action="/delete_exercise_from_database", method="post">
                  <input type="hidden" name="delete" value="{{i['id']}}">
                  <button type="submit">Delete</button>
              </form>
            </td>
        </tr>
      {% endfor %}
  </tbody>
  </table> 
      {% if reveal_table %}
        <script>
          // show table
          showField();
        </script>
      {% endif %}
</div>






{% endblock %}