{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}

  
<div class="container_brvp">
  <div class="search_input sticky">
    <div class="div-min-width">
      <h2>Search Exercises</h2>
        <form action="/browse" class="search_form" id="name_form">
            <input type="text" name="exercise_name" placeholder="Search by name" class="wide-select" autocomplete="off">
            <input type="submit" value="Search">
        </form>
        <form action="/browse" class="search_form" id="muscle_form">
            <select name="exercises" class="wide-select" id="muscle_search">
            <option style="display:none;" value="0">Muscle</option>
            {% for i in muscle%}
                <option value="{{i['muscle']}}">{{i['muscle']}}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Search">
        </form>
        <form action="/browse" class="search_form" id="equipment_form">
            <select name="equipments" class="wide-select" id="equipment_search">
                <option style="display:none;" value="0">Equipment</option>
            {% for i in equipment%}
                <option value="{{i['equipment']}}">{{i['equipment']}}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Search">
        </form>
    </div>
  </div>
  <table class="search_results" hidden="false" id="hiddenField">
    <thead>
      <th> 
        <button type="submit" id="alphabetize" title="Order" value="unordered">Exercise</button>
      </th>
      <th>Muscle</th>
      <th>Equipment</th>
      <th>Remove</th>
    </thead>
    <tbody>
      {% for i in category_to_display%}
        <tr>
            <td>{{i['exercise']}}</td>
            <td>{{i['muscle']}}</td>
            <td>{{i['equipment']}}</td>
            <!-- allow user to delete exercise from workout -->
            <!-- obtain unique id for row that contains the exercise -->
            <td>
                <form action="/delete_exercise_from_database" method="post" onsubmit="return conDelete()">
                  <input type="hidden" name="delete" value="{{i['id']}}">
                  <!-- obtain reference to whether the user searched by muscle or equipment -->
                  {% if muscle_display %}
                    <input type="hidden" name="muscle" value="{{i['muscle']}}">
                  {% elif equipment_display %}
                    <input type="hidden" name="equipment" value="{{i['equipment']}}">
                  {% endif %}
                  <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
      {% endfor %}
      
  </tbody>
  </table> 
      <!-- show table once user submits search info -->
      {% if reveal_table %}
        <script>
          showField();
        </script>
      {% endif %}

      <!-- make value for option tag the value the user chose upon page reload -->
      {% if muscle_display and counter == 0 %}
        <script>
          // change select option name
          changeOption('muscle_search', '{{ muscle_display }}');
          // apply the select option change
          submitForm("muscle_form");
          // breaks infinite loop of reloading page
          counter = counter + 1
        </script>
      {% elif equipment_display and counter == 0 %}
        <script>
          // change select option name
          changeOption('equipment_search', '{{ equipment_display }}');
          // apply the select option change
          submitForm("equipment_form");
          // breaks infinite loop of reloading page
          counter = counter + 1;
        </script>
      {% endif %}
      <!-- allow user to alphabetically order by exercise, changes are dynamic -->
      <script>
        // for customising the table, once rendered, dynamically
        // note certain render templates will return categoryToDisplay as an empty [], this is to avoid an error 
        // TypeError: Object of type Undefined is not JSON serializable from the below code line
        let categoryToDisplay = '{{ category_to_display|tojson }}';
        // returned as ordered
        orderTableBrowse(categoryToDisplay, "exercise", "tbody");
    
    </script>
</div>

{% endblock %}