{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="center_div">
    <form action="/login" method="post" class="log_reg center_div">
        <label for="username">Please enter username</label>
        <input autocomplete="off" autofocus name="username" id="username" placeholder="username" type="text">
        <label for="password">Please enter password</label>
        <input autocomplete="off" autofocus name="password" id="password" placeholder="Password" type="password">
        <input type="submit" value="Log In">
    </form>
</div>
{% endblock %}

