{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="mx-auto" style="width: 200px;">
    <form action="/register" method="post">
        <label for="name">Desired username</label><br>
        <input autocomplete="off" autofocus name="username" id="name" placeholder="Name" type="text"><br>
        <label for="password">Enter password</label><br>
        <input autocomplete="off" autofocus name="password" id="password" placeholder="Password" type="password"><br>
        <label for="confirmation">Confirm password</label><br>
        <input autocomplete="off" autofocus name="confirmation" id="confirmation" placeholder="Password confirm" type="password"><br><br>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}