{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}

  <div class="container_brvp">
    <div class="search_input sticky">
        <!-- retrieve workout -->
        <form action="/view_plan" method="post" class="search_form div-min-width" id="retrieve_wk">
            <h2>Your Workout</h2>
            <select name="wk_plan" class="wide-select" id="get_wk_name">
                <option style="display:none;" value="0">Select Workout</option>
                {% for i in user_workouts %}
                <option value="{{i['wk_name']}}">{{i['wk_name']}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="See"/>
        </form>
        <!-- add exercise -->
        <form action="/view_plan" method="post" class="add_exercise div-min-width">
            <h3>Add to workout</h3>
            <select name="wk_plan_add" id="add_ex_to_wk">
                <option style="display:none;" value="">Select Workout</option>
                {% for i in user_workouts %}
                <option value="{{i['wk_name']}}">{{i['wk_name']}}</option>
                {% endfor %}
            </select> 
            <br>
            <!-- auto-suggestion search -->
            <input type="text" name="exercise_name" list="exercise-list" autocomplete="off" placeholder="Search for exercise">
                <datalist id="exercise-list">
                    {% for i in all_exercises %}
                    <option value="{{i.exercise}}">
                    {% endfor %}
                </datalist>
            <input placeholder="reps" name="reps" type="text" autocomplete="off"><br>
            <input placeholder="weight" name="weight" type="text" autocomplete="off"><br>
            <input placeholder="measurement" name="measurement" type="text" autocomplete="off"><br>
            <input type="submit" value="Add to Workout"/>
        </form>
    </div>
        <!-- show table -->
        <table class="search_results" hidden="false" id="hiddenField">
            <thead>
                <th> 
                    <button type="submit" id="order" title="Order" value="unordered">Exercise</button>
                </th>
                <th>Muscle</th>
                <th>Equipment</th>
                <th>Repetitions</th>
                <th>Weight</th>
                <th>Remove</th>
            </thead>
            <tbody id="order_rows">
            {% for i in users_wks %}
                <tr>
                    <td>{{i['exercise']}}</td>
                    <td>{{i['muscle']}}</td>
                    <td>{{i['equipment']}}</td>
                    <!-- allow user to update reps for exercise -->
                    <td>
                        <button type="submit" class="access_reps" data-toggle="tooltip" title="Click to change">{{i['reps']}}</button>
                        <form action="/view_plan" method="post" class="alter_cell_value" style="display: none;"> 
                            <input type="number" name="rep_number">
                            <input type="hidden" name="rep_row" value="{{i['track_row']}}">
                            <input type="hidden" name="get_wk_name" value="{{i['wk_name']}}">
                            <input type="submit" value="ok">
                        </form>
                    </td>
                    <td>
                        <!-- allow user to update weight number for exercise -->
                        <span>
                            <button type="submit" class="access_weight" data-toggle="tooltip" title="Click to change">{{i['weight']}}</button> 
                            <form action="/view_plan" method="post" class="alter_cell_value" style="display:none;">
                                <input type="number" name="weight_number">
                                <input type="hidden" name="weight_row" value="{{i['track_row']}}">
                                <input type="hidden" name="get_wk_name" value="{{i['wk_name']}}">
                                <input type="submit" value="ok">
                            </form>
                        </span>
                        <!-- allow user to update weight measurement for exercise -->
                        <span>
                            <button type="submit" class="access_measurement" data-toggle="tooltip" title="Click to change">{{i['measurement']}}</button>
                            <form action="/view_plan" method="post" class="alter_cell_value" style="display:none;">
                                <input type="text" name="measurement_update">
                                <input type="hidden" name="measurement_row" value="{{i['track_row']}}">
                                <input type="hidden" name="get_wk_name" value="{{i['wk_name']}}">
                                <input type="submit" value="ok">
                            </form>
                        </span>
                    </td>
                    <!-- allow user to delete exercise from workout -->
                    <td>
                        <form action="/view_plan" method="post" class="delete_button" onsubmit="return conDelete()">
                            <input type="hidden" name="delete" value="{{i['track_row']}}">
                            <input type="hidden" name="get_wk_name" value="{{i['wk_name']}}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if users_wks %}
            <script>
                // show table
                showField();
                changeHeader("h2", 0, '{{ wk_choice }}');
                changeOption('add_ex_to_wk', '{{ wk_choice }}');
            </script>
        {% endif %}
        {% if keep %}
            <script> 
                // reload table with exercise addition if table not already in user view
                changeHeader("h2", 0, '{{ wk_name_add }}');
                changeOption('get_wk_name', '{{ wk_name_add }}');
                submitForm("retrieve_wk");
            </script>
        {% endif %}
        {% if users_wks %}
            <!-- dynamically altering table -->
            <script>
                // user add exercise to workout plan
                addRow('.add_exercise', '/view_plan', '#order_rows');
                // order table by exercise name
                orderTable(0);
                // delete row
                deleteRowFromTable('.delete_button', '/view_plan');
                // allow users to dynamically change values
                alterTableRowCell('.access_reps', '/view_plan', "rep_number");
                alterTableRowCell('.access_weight', '/view_plan', "weight_number");
                alterTableRowCell('.access_measurement', '/view_plan', "measurement_update");
            </script>
        {% endif %}
    </div>
  </div>
{% endblock %}