{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}
  <div class="container_brvp">
    <div class="search_input sticky">
      <h2>Your Workout</h2>
        <form action="/view_plan" method="post" class="search_form">
            <select name="wk_plan" class="wide-select">
                <option style="display:none;" value="0">Select Workout</option>
                {% for i in user_workouts %}
                <option value="{{i['wk_name']}}">{{i['wk_name']}}</option>
                {% endfor %}
                <input type="submit" value="Retrieve"/>
            </select>
        </form>
    </div>
        <table class="search_results" hidden="false" id="hiddenField">
            <thead>
                <th>Exercise</th>
                <th>Muscle</th>
                <th>Equipment</th>
                <th>reps</th>
                <th>Weight</th>
                <th>Remove</th>
            </thead>
            <tbody>
            {% for i in users_wks%}
                <tr>
                    <td>{{i['exercise']}}</td>
                    <td>{{i['muscle']}}</td>
                    <td>{{i['equipment']}}</td>
                    <td>{{i['reps']}}</td>
                    <td>{{i['weight'] + ' ' + i['measurement']}}</td>
                    <!-- allow user to delete exercise from workout -->
                    <td>
                        <form action="/delete_exercise_from_workout_plan", method="post">
                            <input type="hidden" name="delete" value="{{i['exercise']}}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if users_wks %}
        <script>
          // show table
          showField();
        </script>
        {% endif %}
    </div>
  </div>
{% endblock %}